<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            go to login
        </a>
    </li>

    <li>
        <a routerLink="/auth/register">
            go to registry
        </a>
    </li>
    <li>
        <a routerLink="/characters/list">
            go to list
        </a>
    </li>
    <li>
        <a routerLink="/characters/add">
            go to add
        </a>
    </li>
    <li>
        <a routerLink="/characters/edit/123">
            go to edit
        </a>
    </li>
    <li>
        <a routerLink="/characters/search">
            go to search
        </a>
    </li>
    <li>
        <a routerLink="/characters/123">
            go to registry
        </a>
    </li>
</ul>