<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">

    <mat-toolbar color="primary">

      <span>Menu</span>

      <span class="spacer"></span>
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Characters list</span>
      </a>

      <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Add</span>
      </a>

      <a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Search character</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>

    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>
      Logout
    </button>

  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>